<div id="sidebar">
  <% if current_user %>
    <div id="form_disclosure">
      <img src="assets/arrow-33-xxl.png" id="arrow"><h2>Add Marker</h2>
    </div>
  
    <div id="marker_form" class="hidden">
      <%= render 'form', :hazard => @hazard %>
    </div>
  <% end %>

</div>

<div id="map-canvas"></div>

<script>
  google.maps.event.addDomListener(window, 'load', initialize);
</script>