 <% unless current_user %>
  <div id="blurb">
    <p>
      Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows. Some pilots get picked and become television programs. Some don't, become nothing. She starred in one of the ones that became nothing.
    </p>
  </div>
<% end %>

<div id="sidebar">
  <button id="add-marker">Add Marker</button><button id="done-marker">Done</button>
  <div id="directions-form">
    <h2>Enter a Route</h2>
    <form>
      <input id="origin" type="text" placeholder="Origin"><br>
      <input id="destination" type="text" placeholder="Destination"><br>
      <input id="route_button" type="button" value="Get Route" onclick="calcRoute()">
    </form>
  </div>
  <div id="directionsPanel" style="height:100%;width:100%"></div>

  <% if current_user %>
    <div class="form_disclosure">
      <img src="assets/arrow-33-xxl.png" class="arrow arrow-toggle"><h2>Add Hazard</h2>
    </div>

    <div id="hazard-form">
      <%= render 'hazard_form', :hazard => @hazard %>
    </div>

    <div class="form_disclosure">
      <img src="assets/arrow-33-xxl.png" class="arrow"><h2>Add Accident</h2>
    </div>

    <div id="accident-form" class="hidden">
      <%= render 'accidents/accident_form', :accident => @accident %>
    </div>
  <% end %>

</div>

<div id="map-canvas"></div>
