/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body { background-color: #5CCDC9}

#map-canvas {
  height: 100%;
/*  position: relative;*/
/*  top: 19.5%;*/
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  background-color: #006561;
  top: 0;
}

#header-content {
  margin: 0 auto;
  width: 90%;
}

h1 {
  font-family: "Foco";
  color: #5CCDC9;
  width: 100px;
  float: left;
}

#user_nav {
/*  background-color: #5CCDC9;
*/margin-bottom: 1.5em;
  height: 80px;
}

#signed_in {
  float: right;
/*  margin-right: 1em;
  padding-left: 1em;*/
  border-left: 1px solid #006561;
  text-align: right;
}

#signed_in p {
/*  color: #006561;*/
  color: #FFF;
  font-family: "museo-sans-rounded";
}

a {
  text-decoration: none;
/*  color: #006561;*/
  color: #FFF;
  font-family: "museo-sans-rounded";
  font-weight: lighter;
  letter-spacing: .0745em;
}

a:hover {
  text-decoration: none;
  color: white;
  font-family: "museo-sans-rounded";
  font-weight: bolder;
  letter-spacing: .0745em;
}

ul {
  margin: 0;
  padding: 0;
  float: right;
  height: 100%;
  width: 33%;
}

li {
  float: left;
  text-align: center;
  width: 48%;
  height: 100%;
  border-right: 1px solid #FFF;
  border-left: 1px solid #FFF;
  list-style: none;
}

#blurb {
/*  position: relative;
*/  top: 13%;
  position: relative;
  top: 29%;
  background-color: #5CCDC9;
/*  font-style: italic;*/
  width: 90%;
  margin: 0 auto;
  padding: .50em;
  border-radius: 15px;
  border: 1px solid #006561;
  margin-bottom: 1.5em;
}

#blurb p {
  color: #006561;
  font-family: "museo-sans-rounded";
}

#sidebar {
  float: left;
  width: 20%;
  padding: 0.5em;
/*  position: relative;*/
  top: 19.5%;
}

h2 {
  font-family: "brandon-grotesque";
  color: white;
  letter-spacing: .0345em;
  font-weight: lighter;
}
