/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #ECF0F1;
  font-family: "museo-sans-rounded";
}

#map-canvas {
  height: 90%;
/*  position: relative;*/
/*  top: 19.5%;*/
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  background-color: #9762A2;
  top: 0;
}

#header-content {
  margin: 0 auto;
  width: 90%;
}

footer {
  padding: 0.5em;
}

h1 {
  font-family: "Foco";
  color: rgb(21, 99, 184);
  width: 100px;
  float: left;
}

a {
  text-decoration: none;
}

#user_nav {
/*  background-color: #5CCDC9;
*/margin-bottom: 1.5em;
  height: 80px;
}

#header-content img {
  height: 70px;
  width: auto;
  margin-top: .75%;
  float: left;
}

#signed_in {
  float: right;
/*  margin-right: 1em;
  padding-left: 1em;*/
  border-left: 1px solid #fff;
  text-align: right;
  padding-left: 4%;
}

#signed_in p {
  color: #FFF;
}

header a {
  text-decoration: none;
  color: #FFF;
  font-family: "brandon-grotesque";
  font-weight: lighter;
  letter-spacing: .0745em;
}

header a:hover {
  text-decoration: none;
  color: #FFF;
  font-family: "brandon-grotesque";
  font-weight: bolder;
  letter-spacing: .0745em;
}

/*#user_nav h3 {
  font-family: "brandon-grotesque";
  font-weight: lighter;
}*/

#user_nav ul {
  margin: 0;
  padding: 0;
  float: right;
  height: 100%;
  width: 33%;
}

#user_nav li {
  float: left;
  width: 30%;
  height: 100%;
  list-style: none;
}

#user_nav li:hover {
  border-right: 1px solid #FFF;
  border-left: 1px solid #FFF;
}

#user_nav li {
  float: right;
}


#link_list img {
 width: 50px;
 height: auto;
 padding-top: 10%;
 padding-left: 20%;
 }


#blurb {
  top: 13%;
  position: relative;
  top: .5%;
  width: 90%;
  margin: 0 auto;
  padding-left: 1em;
  padding-right: 1em;
  border-radius: 15px;
  border: 1px solid rgb(21, 99, 184);
  margin-bottom: 1.5em;
}

#blurb p {
  color: rgb(21, 99, 184);
}

#sidebar {
  float: left;
  width: 25%;
  height: 90%;
  padding: 0.75em;
  margin-left: 0.5em;
  top: 19.5%;
  overflow: scroll;
}

#directionsPanel {
  width: 100%;
  font-size: 0.9em;
}

h2 {
  font-family: "brandon-grotesque";
  color: rgb(21, 99, 184);
  letter-spacing: .0345em;
  font-weight: lighter;
}

#route_button, #hazard_button, #accident_button, button {
  background-color: #ECF0F1;
  border: 1px solid #9762A2;
  color: #9762A2;
  border-radius: 3px;
  font-family: "brandon-grotesque";
  cursor: pointer;
}

.upvote, .downvote {
  width: 14px;
  cursor: pointer;
}

#route_button:hover, #add-marker:hover, #done-marker:hover {
  background-color: #9762A2;
  color: #fff;
}

#hazard_hazard_type {
  background-color: #ECF0F1;
  border: 1px solid #9762A2;
  border-radius: 3px;
  font-family: "brandon-grotesque";

}

form input, form textarea {
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 3px;

}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : portrait) {

    #user_nav ul {
    margin: 0;
    padding: 0;
    float: right;
    height: 100%;
    width: 50%;

    }



    #blurb {
      display: none;
    }

    #sidebar {
      display: none;
    }

    #signed_in {
      float: left;
      width: 10%;
    }

 }
