/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
body {
  background-color: #A6A600;

}

#user-nav {
  background-color: #A6A600;
  width: 100%;
  float:right;
}

h1 {
  font-family: "hotel-open";
  letter-spacing: .75em;
  padding-left: 2em;
  font-size: 150%;
  border: 1px solid white;
  color: white;
}

#twitter_sign, #facebook_sign {
  float: right;

}

#user-nav p {
  float: right;
  padding-right: 2em;
}

#sign_out {
  clear: both;
  float: right;
  color: white;
  padding-right: 2em;
  text-decoration: none;
}


#blurb {
  clear: both;
  background-color: #BFBF30;
  font-style: italic;
  width: 90%;
  margin: 0 auto;
  padding: .50em;
  border-radius: 15px;
}

p {
  font-family: "brandon-grotesque";
  color: white;
}

#sidebar {

}

h2 {
  font-family: "brandon-grotesque";
  color: white;
  letter-spacing: .0345em;
  font-weight: lighter;
}
