// Place all the styles related to the hazards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body, #map-canvas
  {
  height: 100%;
  margin: 0px;
  padding: 0px
  }

.hidden {
  display: none;
}

#arrow {
  width: 20px;
  float: left;
}