// Place all the styles related to the hazards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.hidden {
  display: none;
}

#popup {
  left: 0;
  top: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.6);
  position: fixed;
  z-index: 3;
  display: none;
}

#inner-popup {
  width: 300px;
  height: auto;
  margin: 70px auto;
  background-color: #ECF0F1;
  padding: 10px 35px 40px 35px;
  border: 1px solid #E0DBDB;
  box-shadow: 2px 2px 3px #CCC;
  -webkit-box-shadow: 2px 2px 3px #CCC;
  -moz-box-shadow: 2px 2px 3px #CCC;
}

.arrow {
  width: 20px;
  float: left;
  padding-right: 4px;
  margin-left: -2px;
  margin-top: 3px;
}

.arrow-toggle {
  transform:rotate(45deg);
  -webkit-transform:rotate(90deg);
}

.form_disclosure {
  cursor: pointer;
}

#close-modal {
  cursor: pointer;
  float: right;
}

.gmap-control-container {
    margin: 5px;
}
.gmap-control {
    cursor: pointer;
    background-color: -moz-linear-gradient(center top , #FEFEFE, #F3F3F3);
    background-color: #FEFEFE;
    border: 1px solid #A9BBDF;
    border-radius: 2px;
    padding: 0 6px;
    line-height: 160%;
    font-size: 12px;
    font-family: Arial,sans-serif;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.gmap-control:hover {
    border: 1px solid #678AC7;
}
.gmap-control-active {
    background-color: -moz-linear-gradient(center top , #6D8ACC, #7B98D9);
    background-color: #6D8ACC;
    color: #fff;
    font-weight: bold;
    border: 1px solid #678AC7;
}
.gmap-control-legend {
    position: absolute;
    text-align: left;
    z-index: -1;
    top: 20px;
    right: 0;
    width: 120px;
    height: 50px;
    font-size: 10px;
    background: #FEFEFE;
    border: 1px solid #A9BBDF;
    padding: 10px;

}
.gmap-control-legend ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.gmap-control-legend li {
    line-height: 160%;
}

#trail {
  background-color: #006400;
  width: 10px;
  height: 6px;
}

#dedicated-lane {
  background-color: #32cd32;
}

#friendly {
  background-color: #32cd32;
}

/*.gm-style li:first-child {
  background-color: #00733C;
  width: 10px;
  height: 6px;
}*/

.delete {
  float: right;
}